* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: red;
    display: inline-block;

}

ul {
    list-style: none;
    text-align: center;
    padding: 30px;
    
    background-color: black;
    
}

li {
    display: inline;
    padding: 20px;
    color: wheat;
}

li:hover {
    color: violet;
    cursor: pointer;
}