body {
    
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #272525;
    background-color: #d4e5eb;
}

article {
    background-color: #bdbdf2;
    padding: 40px;
    margin: 40px;
    border-radius:4px;
}